<app-navbar></app-navbar>
<br />
<div class="body-area">
    <div class="side-nav">

    </div>
    <div class="album-display-area">
        <div class="card-row">
            <div class="title-bar">
                <p class="row-title">Tarang Playlists</p>
                <a href="#" class="show-all-link">Show all</a>
            </div>
            <div class="card-container">
                <app-music-card></app-music-card>
                <app-music-card></app-music-card>
                <app-music-card></app-music-card>
                <app-music-card></app-music-card>
                <app-music-card></app-music-card>
                <app-music-card></app-music-card>
                <app-music-card></app-music-card>
            </div>
            <!-- <div class="card-scroller">
                <button class="card-scroller-button"><i class="pi pi-angle-right"></i></button>
            </div> -->
        </div>

    </div>
</div>