.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar{
    background-color: black; 
}

.title{
    display: flex;
    align-items: center;
}

.title-logo{
    padding-top: 5px;
    height: 50px;
}

.add-music-button{
    padding: 6px;
    border-radius: 100%;
    border: 1px solid rgba(220, 220, 220, 0.50);
    background-color: #00000050;
    cursor: pointer;
}

.add-music-button:hover{
    box-shadow: 1px 1px 15px #FF408150;
    border: 1px solid rgba(220, 220, 220);
}
