.example-spacer {
    flex: 1 1 auto;
}

.toolbar{
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

mat-toolbar{
    background-color: black; 
}

.title-logo{
    padding-top: 5px;
    height: 50px;
}